# Ignore node modules
node_modules/

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore compiled code and cache
dist/
build/
coverage/
.cache/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
*.swp
